body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0f0c29;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.home-button{
    background-color: #de1600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.home-button:hover{
    background-color: #ff1900;
}
.home-button {
    font-size: 16px;
    padding: 8px 16px;
  }
  h1{
    font-size: 120px;
    margin-bottom: auto;
    
  }

